.mimicbot-mp-mosaic {
  overflow: hidden;
  border: 1px solid #1f0012;
  color: #fff;
  position: relative;
  padding: 5px;
  margin: 0;
  background: url('https://s3-eu-west-1.amazonaws.com/bots-palringo-com/bots/mimic_bot/images/mosaic-min.jpg');
  min-height: 135px;
  min-width: 300px;

  &__mimicbot-avatar {
    position: absolute;
    width: 120px;
    right: 5px;
    top: 10px;

    &__avatar {
      background-image: url('https://s3-eu-west-1.amazonaws.com/bots-palringo-com/bots/mimic_bot/images/noavatar.jpeg');
      width: 120px;
      height: 120px;
      background-size: cover;
      background-position: top center;
      border-radius: 50%;
      border-radius: 120px 120px 120px 120px;
      border: 1px solid #1f0012;
    }
  }

  &__bubble {
    padding-right: 75px;
    text-wrap: avoid;
    word-wrap: break-word;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Arial", "Microsoft Sans Serif", "Sans Serif";
    line-height: 1.2em;

    p {
      padding: 5px;
      margin: 0;

      &.language_ar {
        direction: rtl;
      }
    }

    &__message-pack-speech {
      min-height: 50px;
      position:relative;
      padding:5px;
      margin:1px;
      color:#000;
      background:#ffed26;
      /* css3 */
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      z-index: 5;

      &:after {
        content:"";
        position:absolute;
        bottom:-13px; /* value = - border-top-width - border-bottom-width */
        left:47px; /* controls horizontal position */
        border-width:13px 13px 0; /* vary these values to change the angle of the vertex */
        border-style:solid;
        border-color:#ffed26 transparent;
        /* reduce the damage in FF3.0 */
        display:block;
        width:0;
      }

      &--right {
        margin-right:30px;

        &:after {
          top:12px; /* controls vertical position */
          right:-14px; /* value = - border-left-width - border-right-width */
          bottom:auto;
          left:auto;
          border-width:12px 0 12px 14px;
          border-color:transparent #ffed26;
        }
      }
    }
  }
}
