doctype html
html(lang="en")
  head
    title= pageTitle
  body
    include default/default.pug
    br
    include spin/spin.pug
    br
    include mosaic/mosaic.pug
    br
    include thought/thought.pug
    br
    include shake/shake.pug
    br
    include sam/sam.pug
