.mimicbot-mp {
  overflow: hidden;
  border: 1px solid #1f0012;
  color: #fff;
  position: relative;
  padding: 5px;
  margin: 0;
  background: url(https://s3-eu-west-1.amazonaws.com/bots-palringo-com/bots/mimic_bot/default/background.png);
  min-height: 135px;
  min-width: 300px;

  &__bubble {
    padding-right: 75px;
    text-wrap: avoid;
    word-wrap: break-word;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Arial", "Microsoft Sans Serif", "Sans Serif";
    line-height: 1.2em;

    p {
      padding: 0;
      margin: 0;

      &.language_ar {
        direction: rtl;
      }
    }

    &__triangle-border {
      min-height: 50px;
      position: relative;
      padding: 5px;
      margin: 1px;
      border: 1px solid #aaa;
      color: #fff;
      background: #cdd0a0;
      /* css3 */
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      z-index: 5;

    &--right {
      margin-right: 30px;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: -20px;
      /* value = - border-top-width - border-bottom-width */
      left: 40px;
      /* controls horizontal position */
      border-width: 20px 20px 0;
      border-style: solid;
      border-color: #5a8f00 transparent;
      /* reduce the damage in FF3.0 */
      display: block;
      width: 0;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -13px;
      /* value = - border-top-width - border-bottom-width */
      left: 47px;
      /* value = (:before left) + (:before border-left) - (:after border-left) */
      border-width: 13px 13px 0;
      border-style: solid;
      border-color: #fff transparent;
      /* reduce the damage in FF3.0 */
      display: block;
      width: 0;
    }

    /* creates the larger triangle */
    &--right:before {
      top: 10px;
      /* controls vertical position */
      bottom: auto;
      left: auto;
      right: -16px;
      /* value = - border-left-width - border-right-width */
      border-width: 14px 0 14px 16px;
      border-color: transparent #aaa;
    }

      /* creates the smaller  triangle */
      &--right:after {
        top: 12px;
        /* value = (:before top) + (:before border-top) - (:after border-top) */
        bottom: auto;
        left: auto;
        right: -14px;
        /* value = - border-left-width - border-right-width */
        border-width: 12px 0 12px 14px;
        border-color: transparent #cdd0a0;
      }
    }
  }

    &__mimicbot_avatar {
      position: absolute;
      width: 120px;
      right: 5px;
      top: 10px;

    &__avatar {
      background-image: url('https://s3-eu-west-1.amazonaws.com/bots-palringo-com/bots/mimic_bot/noavatar.jpeg');
      width: 120px;
      height: 120px;
      background-size: cover;
      background-position: top center;
      border-radius: 50%;
      border-radius: 120px 120px 120px 120px;
      border: 1px solid #1f0012;
    }
  }
}
